{
  "openapi": "3.0.3",
  "info": {
    "title": "Sumthing API",
    "version": "2.20.0"
  },
  "servers": [
    {
      "url": "https://sumthing-api.com"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Donations",
      "description": "Donation management operations"
    },
    {
      "name": "Projects",
      "description": "Project management operations"
    },
    {
      "name": "Stories",
      "description": "Story management operations"
    },
    {
      "name": "Legacy",
      "description": "Legacy operations"
    },
    {
      "name": "Experimental",
      "description": "Experimental concepts"
    },
    {
      "name": "News",
      "description": "News management operations"
    },
    {
      "name": "Widget",
      "description": "Widget management operations"
    },
    {
      "name": "Health",
      "description": "Health check operations"
    },
    {
      "name": "Checkout",
      "description": "Checkout operations"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-secret"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v2/donations/{id}": {
      "get": {
        "summary": "Get Donation by ID",
        "tags": ["Donations"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Public donation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "buyer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["individual", "organization"]
                        },
                        "number": {
                          "type": "integer"
                        },
                        "profileImageUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "id",
                        "createdAt",
                        "username",
                        "country",
                        "type",
                        "number",
                        "profileImageUrl"
                      ]
                    },
                    "owner": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["individual", "organization"]
                        },
                        "number": {
                          "type": "integer"
                        },
                        "profileImageUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "id",
                        "createdAt",
                        "username",
                        "country",
                        "type",
                        "number",
                        "profileImageUrl"
                      ]
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "donationId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "tag": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "donationId",
                          "createdAt",
                          "updatedAt",
                          "tag"
                        ]
                      }
                    },
                    "donationProof": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "impactQuantity": {
                          "type": "number"
                        },
                        "impactRatio": {
                          "type": "number"
                        },
                        "imageUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "mapKey": {
                          "type": "string"
                        },
                        "geoType": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "createdAt",
                        "updatedAt",
                        "impactQuantity",
                        "impactRatio",
                        "imageUrl",
                        "mapKey",
                        "geoType"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "projectId",
                    "code",
                    "buyer",
                    "owner",
                    "tags",
                    "donationProof"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": ["Health"],
        "security": [{}],
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isHealthy": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["isHealthy", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/v3/donations/stats": {
      "get": {
        "summary": "Get donation statistics",
        "tags": ["Donations"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "profileId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "projectId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "buyerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "ownerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "sellerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["completed", "planned", "any"]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["shopify", "stripe", "exact", "unknown", "any"]
            },
            "required": false,
            "name": "pspName",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date in ISO 8601 format",
              "example": "2023-01-01T00:00:00Z"
            },
            "required": true,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date in ISO 8601 format",
              "example": "2023-12-31T23:59:59Z"
            },
            "required": true,
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["day", "month", "year", "century"]
            },
            "required": true,
            "name": "resolution",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Donation statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "projectType": {
                        "type": "string"
                      },
                      "projectTypePlural": {
                        "type": "string"
                      },
                      "impactAction": {
                        "type": "string"
                      },
                      "impactActionPast": {
                        "type": "string"
                      },
                      "impactActionPresentParticiple": {
                        "type": "string"
                      },
                      "impactUnit": {
                        "type": "string",
                        "nullable": true
                      },
                      "totalDonations": {
                        "type": "number"
                      },
                      "impactVolume": {
                        "type": "number"
                      },
                      "buckets": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string"
                            },
                            "totalDonations": {
                              "type": "number"
                            },
                            "impactVolume": {
                              "type": "number"
                            }
                          },
                          "required": ["key", "totalDonations", "impactVolume"]
                        }
                      }
                    },
                    "required": [
                      "projectType",
                      "projectTypePlural",
                      "impactAction",
                      "impactActionPast",
                      "impactActionPresentParticiple",
                      "impactUnit",
                      "totalDonations",
                      "impactVolume",
                      "buckets"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/donations/rollup/{id}": {
      "get": {
        "summary": "Get donations rollup aggregated by project and date",
        "tags": ["Donations"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The userId to get donations rollup for.",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "required": true,
            "name": "pageNumber",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": true,
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Donations rollup data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metaData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": ["total"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": ["individual", "organization"]
                              },
                              "number": {
                                "type": "integer"
                              },
                              "profileImageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "id",
                              "createdAt",
                              "username",
                              "country",
                              "type",
                              "number",
                              "profileImageUrl"
                            ]
                          },
                          "projectId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "projectPartnerId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "projectName": {
                            "type": "string"
                          },
                          "projectSlug": {
                            "type": "string"
                          },
                          "projectCode": {
                            "type": "string"
                          },
                          "projectLogoUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "projectType": {
                            "type": "object",
                            "properties": {
                              "impactUnit": {
                                "type": "string",
                                "nullable": true
                              },
                              "impactAction": {
                                "type": "string"
                              },
                              "impactActionPast": {
                                "type": "string"
                              },
                              "impactActionPresentParticiple": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "namePlural": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "impactUnit",
                              "impactAction",
                              "impactActionPast",
                              "impactActionPresentParticiple",
                              "name",
                              "namePlural"
                            ]
                          },
                          "donationDate": {
                            "type": "string"
                          },
                          "totalDonations": {
                            "type": "number"
                          },
                          "totalImpactQuantity": {
                            "type": "number"
                          },
                          "attribution": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": ["gifter", "giftee"]
                              },
                              "user": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": ["individual", "organization"]
                                  },
                                  "number": {
                                    "type": "integer"
                                  },
                                  "profileImageUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "id",
                                  "createdAt",
                                  "username",
                                  "country",
                                  "type",
                                  "number",
                                  "profileImageUrl"
                                ]
                              }
                            },
                            "required": ["type", "user"]
                          }
                        },
                        "required": [
                          "user",
                          "projectId",
                          "projectPartnerId",
                          "projectName",
                          "projectSlug",
                          "projectCode",
                          "projectLogoUrl",
                          "projectType",
                          "donationDate",
                          "totalDonations",
                          "totalImpactQuantity"
                        ]
                      }
                    }
                  },
                  "required": ["metaData", "data"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/donations/proofs": {
      "get": {
        "summary": "Get donation proofs for a user",
        "tags": ["Donations"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "required": true,
            "name": "pageNumber",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": true,
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Donation proofs data for the specified user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metaData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": ["total"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "impactQuantity": {
                            "type": "number"
                          },
                          "donationCount": {
                            "type": "number"
                          },
                          "storyId": {
                            "type": "number"
                          },
                          "storyRef": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "partnerId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "impactQuantity": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "slug",
                              "code",
                              "partnerId",
                              "impactQuantity"
                            ]
                          },
                          "projectType": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              },
                              "namePlural": {
                                "type": "string"
                              },
                              "impactUnit": {
                                "type": "string",
                                "nullable": true
                              },
                              "impactAction": {
                                "type": "string"
                              },
                              "impactActionPast": {
                                "type": "string"
                              },
                              "impactActionPresentParticiple": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "namePlural",
                              "impactUnit",
                              "impactAction",
                              "impactActionPast",
                              "impactActionPresentParticiple"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "imageUrl",
                          "impactQuantity",
                          "donationCount",
                          "storyId",
                          "storyRef",
                          "project",
                          "projectType"
                        ]
                      }
                    }
                  },
                  "required": ["metaData", "data"]
                }
              }
            }
          }
        }
      }
    },
    "/v4/stories": {
      "get": {
        "summary": "Get stories",
        "tags": ["Stories"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "string",
                  "format": "uuid"
                }
              ]
            },
            "required": false,
            "name": "projectIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "storySearch",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "required": true,
            "name": "pageNumber",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": true,
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metaData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": ["total"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "ref": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "ref",
                          "title",
                          "projectId"
                        ]
                      }
                    }
                  },
                  "required": ["metaData", "data"]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create story",
        "tags": ["Stories"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 13
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": ["ref", "title", "projectId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created story",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "supporterCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "ref": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "publishedAt": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "username": {
                                "type": "string"
                              },
                              "profileImageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": ["id", "username", "profileImageUrl"]
                          },
                          "text": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "Activity",
                              "Field update",
                              "Monitoring",
                              "Preparation",
                              "Completion",
                              "Follow up"
                            ]
                          },
                          "imageUrlGallery": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "youtubeEmbedId": {
                            "type": "string",
                            "nullable": true
                          },
                          "slug": {
                            "type": "string"
                          },
                          "video": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "ref": {
                                "type": "string"
                              },
                              "playbackRef": {
                                "type": "string"
                              },
                              "thumbnailTime": {
                                "type": "integer",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "id",
                              "ref",
                              "playbackRef",
                              "thumbnailTime"
                            ]
                          },
                          "storyRefs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "publishedAt",
                          "author",
                          "text",
                          "type",
                          "imageUrlGallery",
                          "youtubeEmbedId",
                          "slug",
                          "storyRefs"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "supporterCount",
                    "ref",
                    "title",
                    "projectId",
                    "news"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v4/stories/{id}": {
      "get": {
        "summary": "Get story by ID",
        "tags": ["Stories"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "pattern": "^\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Story details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "supporterCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "ref": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "publishedAt": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "username": {
                                "type": "string"
                              },
                              "profileImageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": ["id", "username", "profileImageUrl"]
                          },
                          "text": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "Activity",
                              "Field update",
                              "Monitoring",
                              "Preparation",
                              "Completion",
                              "Follow up"
                            ]
                          },
                          "imageUrlGallery": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "youtubeEmbedId": {
                            "type": "string",
                            "nullable": true
                          },
                          "slug": {
                            "type": "string"
                          },
                          "video": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "ref": {
                                "type": "string"
                              },
                              "playbackRef": {
                                "type": "string"
                              },
                              "thumbnailTime": {
                                "type": "integer",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "id",
                              "ref",
                              "playbackRef",
                              "thumbnailTime"
                            ]
                          },
                          "storyRefs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "publishedAt",
                          "author",
                          "text",
                          "type",
                          "imageUrlGallery",
                          "youtubeEmbedId",
                          "slug",
                          "storyRefs"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "supporterCount",
                    "ref",
                    "title",
                    "projectId",
                    "news"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update story",
        "tags": ["Stories"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "pattern": "^\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  }
                },
                "required": ["title"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated story",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "supporterCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "ref": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "publishedAt": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "username": {
                                "type": "string"
                              },
                              "profileImageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": ["id", "username", "profileImageUrl"]
                          },
                          "text": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "Activity",
                              "Field update",
                              "Monitoring",
                              "Preparation",
                              "Completion",
                              "Follow up"
                            ]
                          },
                          "imageUrlGallery": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "youtubeEmbedId": {
                            "type": "string",
                            "nullable": true
                          },
                          "slug": {
                            "type": "string"
                          },
                          "video": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "ref": {
                                "type": "string"
                              },
                              "playbackRef": {
                                "type": "string"
                              },
                              "thumbnailTime": {
                                "type": "integer",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "id",
                              "ref",
                              "playbackRef",
                              "thumbnailTime"
                            ]
                          },
                          "storyRefs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "publishedAt",
                          "author",
                          "text",
                          "type",
                          "imageUrlGallery",
                          "youtubeEmbedId",
                          "slug",
                          "storyRefs"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "supporterCount",
                    "ref",
                    "title",
                    "projectId",
                    "news"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v4/stories/ref/{ref}": {
      "get": {
        "summary": "Get story by reference",
        "tags": ["Stories"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 13
            },
            "required": true,
            "name": "ref",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Story details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "supporterCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "ref": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "publishedAt": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "username": {
                                "type": "string"
                              },
                              "profileImageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": ["id", "username", "profileImageUrl"]
                          },
                          "text": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "Activity",
                              "Field update",
                              "Monitoring",
                              "Preparation",
                              "Completion",
                              "Follow up"
                            ]
                          },
                          "imageUrlGallery": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "youtubeEmbedId": {
                            "type": "string",
                            "nullable": true
                          },
                          "slug": {
                            "type": "string"
                          },
                          "video": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "ref": {
                                "type": "string"
                              },
                              "playbackRef": {
                                "type": "string"
                              },
                              "thumbnailTime": {
                                "type": "integer",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "id",
                              "ref",
                              "playbackRef",
                              "thumbnailTime"
                            ]
                          },
                          "storyRefs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "publishedAt",
                          "author",
                          "text",
                          "type",
                          "imageUrlGallery",
                          "youtubeEmbedId",
                          "slug",
                          "storyRefs"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "supporterCount",
                    "ref",
                    "title",
                    "projectId",
                    "news"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/donations/code/{code}": {
      "get": {
        "summary": "Get donation by code",
        "tags": ["Donations"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 6,
              "maxLength": 12
            },
            "required": true,
            "name": "code",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Donation details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "buyer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["individual", "organization"]
                        },
                        "number": {
                          "type": "integer"
                        },
                        "profileImageUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "id",
                        "createdAt",
                        "username",
                        "country",
                        "type",
                        "number",
                        "profileImageUrl"
                      ]
                    },
                    "owner": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["individual", "organization"]
                        },
                        "number": {
                          "type": "integer"
                        },
                        "profileImageUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "id",
                        "createdAt",
                        "username",
                        "country",
                        "type",
                        "number",
                        "profileImageUrl"
                      ]
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "donationId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "tag": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "donationId",
                          "createdAt",
                          "updatedAt",
                          "tag"
                        ]
                      }
                    },
                    "donationProof": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "impactQuantity": {
                          "type": "number"
                        },
                        "impactRatio": {
                          "type": "number"
                        },
                        "imageUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "mapKey": {
                          "type": "string"
                        },
                        "geoType": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "createdAt",
                        "updatedAt",
                        "impactQuantity",
                        "impactRatio",
                        "imageUrl",
                        "mapKey",
                        "geoType"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "projectId",
                    "code",
                    "buyer",
                    "owner",
                    "tags",
                    "donationProof"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/donations": {
      "get": {
        "summary": "Get donations",
        "tags": ["Donations"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "profileId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "projectId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "buyerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "ownerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "sellerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["completed", "planned", "any"]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["shopify", "stripe", "exact", "unknown", "any"]
            },
            "required": false,
            "name": "pspName",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "orderBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0
            },
            "required": true,
            "name": "pageNumber",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": true,
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of donations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metaData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": ["total"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "buyer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": ["individual", "organization"]
                              },
                              "number": {
                                "type": "integer"
                              },
                              "profileImageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "id",
                              "createdAt",
                              "username",
                              "country",
                              "type",
                              "number",
                              "profileImageUrl"
                            ]
                          },
                          "owner": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": ["individual", "organization"]
                              },
                              "number": {
                                "type": "integer"
                              },
                              "profileImageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "id",
                              "createdAt",
                              "username",
                              "country",
                              "type",
                              "number",
                              "profileImageUrl"
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "donationId": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "tag": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "donationId",
                                "createdAt",
                                "updatedAt",
                                "tag"
                              ]
                            }
                          },
                          "donationProof": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "impactQuantity": {
                                "type": "number"
                              },
                              "impactRatio": {
                                "type": "number"
                              },
                              "imageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "mapKey": {
                                "type": "string"
                              },
                              "geoType": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "createdAt",
                              "updatedAt",
                              "impactQuantity",
                              "impactRatio",
                              "imageUrl",
                              "mapKey",
                              "geoType"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "createdAt",
                          "updatedAt",
                          "projectId",
                          "code",
                          "buyer",
                          "owner",
                          "tags",
                          "donationProof"
                        ]
                      }
                    }
                  },
                  "required": ["metaData", "data"]
                }
              }
            }
          }
        }
      }
    },
    "/v3/donations/proofs/geometry": {
      "get": {
        "summary": "Get donation proof geometry",
        "tags": ["Donations"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "profileId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "projectId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "buyerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "ownerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "sellerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["completed", "planned", "any"]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["shopify", "stripe", "exact", "unknown", "any"]
            },
            "required": false,
            "name": "pspName",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "nullable": true
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "maxLatitude",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "maxLongitude",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "minLatitude",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true
            },
            "required": false,
            "name": "minLongitude",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Donation proof geometry in GeoJSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["FeatureCollection"]
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    }
                  },
                  "required": ["type", "features"]
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/types": {
      "get": {
        "summary": "Get project types",
        "tags": ["Projects"],
        "security": [{}],
        "responses": {
          "200": {
            "description": "List of project types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "name": {
                        "type": "string"
                      },
                      "namePlural": {
                        "type": "string"
                      },
                      "impactUnit": {
                        "type": "string",
                        "nullable": true
                      },
                      "impactAction": {
                        "type": "string"
                      },
                      "impactActionPast": {
                        "type": "string"
                      },
                      "impactActionPresentParticiple": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "namePlural",
                      "impactUnit",
                      "impactAction",
                      "impactActionPast",
                      "impactActionPresentParticiple"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/categories": {
      "get": {
        "summary": "Get project categories",
        "tags": ["Projects"],
        "security": [{}],
        "responses": {
          "200": {
            "description": "List of project categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "textSymbol": {
                        "type": "string"
                      }
                    },
                    "required": ["id", "name", "textSymbol"]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/projects": {
      "get": {
        "summary": "Get project previews",
        "tags": ["Projects"],
        "security": [{}],
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "string",
                  "format": "uuid"
                }
              ]
            },
            "required": false,
            "name": "projectTypeIds",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "string",
                  "format": "uuid"
                }
              ]
            },
            "required": false,
            "name": "projectIds",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "nullable": true
                  }
                },
                {
                  "type": "integer",
                  "nullable": true
                },
                {
                  "nullable": true
                }
              ]
            },
            "required": false,
            "name": "projectCategoryIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "profileId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "donationBuyerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "donationOwnerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "donationSellerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["completed", "planned", "any"]
            },
            "required": false,
            "name": "donationStatus",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "projectSearch",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of project previews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "sdgs": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "intro": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "countryName": {
                        "type": "string"
                      },
                      "paymentsEnabled": {
                        "type": "boolean"
                      },
                      "location": {
                        "nullable": true
                      },
                      "imageUrlMain": {
                        "type": "string",
                        "format": "uri"
                      },
                      "imageUrlPlannedDonation": {
                        "type": "string",
                        "format": "uri"
                      },
                      "imageUrlGallery": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "impactQuantity": {
                        "type": "number"
                      },
                      "type": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "namePlural": {
                            "type": "string"
                          },
                          "impactUnit": {
                            "type": "string",
                            "nullable": true
                          },
                          "impactAction": {
                            "type": "string"
                          },
                          "impactActionPast": {
                            "type": "string"
                          },
                          "impactActionPresentParticiple": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "namePlural",
                          "impactUnit",
                          "impactAction",
                          "impactActionPast",
                          "impactActionPresentParticiple"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "textSymbol": {
                            "type": "string"
                          }
                        },
                        "required": ["id", "name", "textSymbol"]
                      },
                      "partner": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "info": {
                            "type": "string"
                          },
                          "logoImageUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "slug": {
                            "type": "string"
                          }
                        },
                        "required": ["id", "name", "logoImageUrl", "slug"]
                      },
                      "product": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "productRef": {
                            "type": "string"
                          },
                          "priceRef": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "price",
                          "currencyCode",
                          "isActive",
                          "productRef",
                          "priceRef"
                        ]
                      },
                      "sumthingScore": {
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "required": [
                      "id",
                      "createdAt",
                      "updatedAt",
                      "name",
                      "code",
                      "slug",
                      "sdgs",
                      "intro",
                      "country",
                      "countryName",
                      "paymentsEnabled",
                      "imageUrlMain",
                      "imageUrlPlannedDonation",
                      "imageUrlGallery",
                      "impactQuantity",
                      "type",
                      "category",
                      "partner",
                      "product"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create project",
        "tags": ["Projects"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[A-Z0-9]{2,3}-[0-9]{3}$"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "typeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "partnerId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "categoryId": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "countryId": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "location": {
                    "nullable": true
                  },
                  "sdgs": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "default": []
                  },
                  "intro": {
                    "type": "string",
                    "maxLength": 1500,
                    "default": ""
                  },
                  "info": {
                    "type": "string",
                    "maxLength": 5000,
                    "default": "No project information available."
                  },
                  "costBreakdown": {
                    "type": "string",
                    "maxLength": 2500,
                    "default": ""
                  },
                  "additionalInfo": {
                    "type": "string",
                    "maxLength": 2500
                  },
                  "impactQuantity": {
                    "type": "integer"
                  },
                  "paymentsEnabled": {
                    "type": "boolean",
                    "default": true
                  },
                  "galleryImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": []
                  },
                  "projectZoom": {
                    "type": "integer",
                    "default": 19
                  },
                  "donationZoom": {
                    "type": "integer",
                    "default": 21
                  },
                  "certificateUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "active": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "name",
                  "code",
                  "slug",
                  "typeId",
                  "partnerId",
                  "categoryId",
                  "countryId",
                  "impactQuantity"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "sdgs": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "intro": {
                      "type": "string"
                    },
                    "info": {
                      "type": "string"
                    },
                    "costBreakdown": {
                      "type": "string"
                    },
                    "additionalInfo": {
                      "type": "string",
                      "nullable": true
                    },
                    "country": {
                      "type": "string"
                    },
                    "countryName": {
                      "type": "string"
                    },
                    "paymentsEnabled": {
                      "type": "boolean"
                    },
                    "location": {
                      "nullable": true
                    },
                    "imageUrlMain": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrlPlannedDonation": {
                      "type": "string",
                      "format": "uri"
                    },
                    "imageUrlGallery": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "impactQuantity": {
                      "type": "number"
                    },
                    "projectZoom": {
                      "type": "number"
                    },
                    "donationZoom": {
                      "type": "number"
                    },
                    "type": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        },
                        "namePlural": {
                          "type": "string"
                        },
                        "impactUnit": {
                          "type": "string",
                          "nullable": true
                        },
                        "impactAction": {
                          "type": "string"
                        },
                        "impactActionPast": {
                          "type": "string"
                        },
                        "impactActionPresentParticiple": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "namePlural",
                        "impactUnit",
                        "impactAction",
                        "impactActionPast",
                        "impactActionPresentParticiple"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
[...]
